# Adjust according to your needs
name: Release Canary

on:
    issue_comment:
        types:
            - created

permissions:
    id-token: write
    contents: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    get-branch:
        if: ${{ github.event.issue.pull_request && (github.event.comment.body == 'canary-publish' || github.event.comment.body == '/canary-publish')}}
        runs-on: ubuntu-latest
        outputs:
            branch: ${{ steps.get_branch.outputs.branch }}
        steps:
            - name: Get PR branch name
              id: get_branch
              run: |
                  PR=$(curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" ${{ github.event.issue.pull_request.url }})
                  echo "::set-output name=branch::$(echo $PR | jq -r '.head.ref')"

    canary:
        needs: get-branch
        uses: ./.github/workflows/publish.yaml
        with:
            publish_type: canary
            npm_tag: canary
            ref: ${{ needs.get-branch.outputs.branch }}
            version_template: '{VERSION}-canary.{DATE}-{COMMITID7}'
            packages_dir: '.'
            excludes: '.turbo,.github'
        secrets:
            action_token: ${{ secrets.ACTION_TOKEN }}
