name: ci
on:
    pull_request:
        branches:
            - '**'

permissions:
    contents: write # to create release
    id-token: write

jobs:
    code-style:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22.x'
            - name: Enable Corepack
              run: corepack enable

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Run code style checks
              run: pnpm run prettier

            - name: Run ESlint
              run: pnpm run lint

    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22.x'
            - name: Enable Corepack
              run: corepack enable
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - run: pnpm run test

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22.x'
            - name: Enable Corepack
              run: corepack enable
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - run: pnpm run build
